#one {
    background-color: #808080;
    padding: 100px;
}

#hd {
    display: inline-flex;
}

.h1 {
    margin: 500px;
}

.h3 {
    margin: 100px;
}

#two {
    background-color: #ADD8E6;
    padding: 100px;
}

#three {
    background-color: #7FFFD4;
    padding: 100px;
}

#four {
    background-color: aliceblue;
    padding: 100px;
}

#five {
    background-color: #240476;
    padding: 100px;
}